%table
  %thead
    %th
      URL
    %th
      Yslow
    %th
      Page Speed
  %tbody
    - @grades.each do |k,v|
      %tr
        %td
          = k.url
          - v.each do |y,val|
            %td
              = val